{% extends 'booking/base.html' %}

{% block content %}

    <h1>{{ staff.store.name }}店{{ staff.name }}</h1>
    <p>{{ start_day }} - {{ end_day }}</p>
    <table class="table table-bordered text-center" border="1">

        <tr>
            <td>
                <a href="{% url 'booking:calendar' staff.pk before.year before.month before.day %}">前週</a>
            </td>
            {% for day in days %}
                {% if day in public_holidays %}
                    <th class="th1">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 5 %}
                    <th class="th2">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 6 %}
                    <th class="th3">{{ day | date:"d(D)" }}</th>
                {% else %}
                    <th>{{ day | date:"d(D)" }}</th>
                {% endif %}
            {% endfor %}
            <td>
                <a href="{% url 'booking:calendar' staff.pk next.year next.month next.day %}">次週</a>
            </td>
        </tr>

        {% for hour, schedules in calendar.items %}
            <tr>
                <td>
                    {{ hour }}:00
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if dt <= today %}
                            -
                        {% elif book %}
                            <a href="{% url 'booking:booking' staff.pk dt.year dt.month dt.day hour %}">◯</a>
                        {% else %}
                            ×
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    {{ hour }}:00
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}