body {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}

nav > a {
    margin-right: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}
.th1 {
    background-color: yellow
}
.th2 {
    background-color: dodgerblue;
}
.th3 {
    background-color: forestgreen;
}

tr {
    font-size: 12px;
}

